@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    430 Main Street<br />
    San Francisco, CA 94107<br />
    <abbr title="Phone">P:</abbr>
    251.422.9044
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@travelreviews.com</a><br />
</address>