 @{
    ViewBag.Title = "Home Page";
}
<!--This page lists the title and introduction for the website as well as a link to create a review-->
<div class="jumbotron mainSec">
    <h1>BON VOYAGE TRAVEL REVIEWS</h1>
    <p class="lead">Welcome to the travel review website, where the reviews are 100% real, even the bad ones.</p>
    <p><a href="http://localhost:57125/Reviews" class="btn btn-primary btn-lg">Find your next destination! &raquo;</a></p>
</div>

<div class="row">
   
    <div class="col-md-6">
        <h2>WHAT THIS SITE IS ALL ABOUT...</h2>
        <p>Morbi ut est maximus justo consequat scelerisque nec a ligula. Nam id eros nunc. Maecenas ut velit condimentum, tempus velit non, tincidunt lacus. Fusce sit amet ultrices sem. Nulla pulvinar nibh ac ultrices feugiat. Curabitur malesuada, magna at dignissim euismod, arcu mi pellentesque risus, vel porttitor leo turpis vel turpis. Vivamus nulla velit, sollicitudin nec ultricies in, tempor eu turpis. Nulla lacinia sollicitudin aliquam.</p>
        
    </div>
    <div class="col-md-6">
        <h2>WANT TO SHARE YOUR RECENT TRAVELS?</h2>
        <p><a class="btn btn-default" href="http://localhost:57125/Reviews/Create">CLICK TO ADD A REVIEW &raquo;</a></p>
    </div>
</div>